.form-hero__wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .form-hero__content{
    max-width:84rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
    .form-input-wrapper{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .horizontal-stepper__wrapper{
        width: 300px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .horizontal-stepper__step{
        padding:.5rem .8rem;
        border-radius: 100%;
        font-size: 1rem;
        border: solid var(--SLATE-200) 2px;
        color:var(--SLATE-800) ;    
        z-index: 10;
        background-color:white;
    }
    .horizontal-stepper__progress-bar{
        position: absolute;
        width: 100%;
        background-color: var(--SLATE-200);
        height:2px;
        bottom: 50%;
        z-index: -1;
    }
    